bandit==1.7.2
coverage==6.3
fixtures==3.0.0
flake8==4.0.1
pycodestyle==2.8.0
pyflakes==2.4.0
pyotp==2.6.0
pytest==6.2.5
pytest-cov==3.0.0
pytest-mock==3.7.0
PyYAML==6.0
requests==2.27.1
requests-mock==1.9.3
toml==0.10.2
traceback2==1.4.0
unittest2==1.1.0
yapf==0.32.0
