bandit==1.7.5
coverage==7.2.7
fixtures==4.1.0
flake8==6.0.0
pycodestyle==2.10.0
pyflakes==3.0.1
pyotp==2.9.0
pytest==7.3.2
pytest-cov==4.1.0
pytest-mock==3.11.1
PyYAML==6.0
requests==2.31.0
requests-mock==1.11.0
testtools==2.6.0
toml==0.10.2
traceback2==1.4.0
unittest2==1.1.0
yapf==0.40.1
